* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  background-color: rgb(72, 135, 253);
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}
main {
  font-size: 1.5rem;
  padding: 3rem;
}
ul {
  list-style: square;
  margin: 1.5rem 2.5rem;
}

.imprescindible {
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  color: rgb(113, 159, 246);
  padding: 1rem;
}

table {
  margin: 1rem;
}

table thead {
  background-color: rgb(72, 135, 253);
  color: white;
}

table tbody tr:nth-child(odd) {
  background-color: rgb(144, 172, 223);
}

table tbody tr:nth-child(even) {
  background-color: rgb(144, 172, 223);
}

th,
td {
  padding: 0.7rem;
}

th {
  background-color: rgba(25, 105, 253, 0.4);
}

#descanso {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
